@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --main-color:#ffb43a;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
}

/* nav bar */
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.logo span{
    color: var(--main-color);
}

/* search box */
.search-box{
    max-width: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
}

.search-box .bx:hover{
    color: var(--main-color);
}

.bx{
    cursor: pointer;
}